<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <a href="{% url 'construction_create' %}" class="btn btn-secondary">新增</a>
                <a href="{% url 'construction_import' %}" class="btn btn-secondary">匯入</a><br><br>

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"></h3>
                    </div>
                    <div class="card-body">
{#                        <form class="form-inline ml-3">#}
{#                            <div id="datetimefilter" class="input-group input-group-sm">#}
{#                                <input class="datepickrange" name="daterangefilter" type="text">#}
{#                                <div class="input-group-append">#}
{#                                    <button class="btn btn-navbar" type="submit">#}
{#                                        <i class="fas fa-search"></i>#}
{#                                    </button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </form>#}
                    <br>
                        <!-- <table id="example1" class="table table-striped table-bordered table-head-fixed text-nowrap table-hover"> -->
                        <table id="example1" class="table table-bordered table-head-fixed text-nowrap table-hoverp">
                            <thead>
                            <tr>
                                <th>匯入日期</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for construction in object_list %}
                                {{  construction}}
                                <tr>
                                    <td>{{ construction.created_at | date:'Y-m-d H:i:s'}}</td>
                                    <td>
{#                                        <span class="badge bg-danger">#}
{#                                            <a href="{% url 'construction_delete' construction.id %}">Delete</a>#}
{#                                        </span>#}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>