<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <a href="{% url 'construction_create' %}" class="btn btn-secondary">新增</a>
                <a href="{% url 'construction_import' %}" class="btn btn-secondary">匯入</a>
                <a href="{% url 'batch' %}" class="btn btn-outline-danger">批量刪除</a><br><br>

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"></h3>
                    </div>
                    <div class="card-body">
                        <form class="form-inline ml-3">
                            <div id="datetimefilter" class="input-group input-group-sm">
                                <input class="datepickrange" name="daterangefilter" type="text">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <br>
                        <!-- <table id="example1" class="table table-striped table-bordered table-head-fixed text-nowrap table-hover"> -->
                        <table id="example1" class="table table-bordered table-head-fixed text-nowrap table-hoverp">
                            <thead>
                            <tr>
                                <th>序號</th>
                                <th>師傅</th>
                                <th>客戶名稱</th>
                                <th>案場地址</th>
                                <th>品項</th>
                                <th>長度</th>
                                <th>單價</th>
                                <th>拆分</th>
                                <th>總額</th>
                                <th>安裝日期</th>
                                <th>操作</th>
                                <th>key in 日期</th>

                            </tr>
                            </thead>
                            {# 使用 JQuery DataTables 套件 foreach 必須在 <tbody> 裏面 #}
                            <tbody>
                            {% for construction in object_list %}
                                <tr>
                                    <td>{{ construction.id }}</td>
                                    <td>{{ construction.worker.name }}</td>
                                    <td>{{ construction.client.name }}</td>
                                    <td>{{ construction.work_site | default:"" }}</td>
                                    <td>{{ construction.constructionItem.item }}</td>
                                    <td>{{ construction.construction_length | floatformat }}</td>
                                    <td>{{ construction.construction_unit | floatformat }}</td>
                                    <td>{{ construction.construction_split | floatformat }}</td>
                                    <td>{{ construction.construction_amount | floatformat:"-2" }}</td>
                                    <td>{{ construction.publish_at|date:'Y-m-d' }}</td>
                                    <td>
                                        <span class="badge bg-cyan">
                                            <a href="{% url 'construction_edit' construction.id %}">Edit</a>
                                        </span>
                                        <span class="badge bg-danger">
                                            <a href="{% url 'construction_delete' construction.id %}">Delete</a>
                                        </span>
                                    </td>
                                    <td>{{ construction.created_at|date:'Y-m-d H:i:s' }}</td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>