<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title"></h3>
  </div>
  <form method="POST">{% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        <label for="name">名稱</label>
          {{ form.name }}
{#        <input type="text" name="name" class="form-control" required=required placeholder="name">#}
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
