<a href="{% url 'client_create' %}" class="btn btn-secondary">新增</a>&nbsp;
<a href="{% url 'client_import' %}" class="btn btn-secondary">匯入</a><br><br>



<div class="card">
    <!-- <div class="card-header">
      <h3 class="card-title">DataTable</h3>
    </div> -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-head-fixed text-nowrap table-hover">
            <thead>
            <tr>
                <th>編號</th>
                <th>師傅</th>
                <th>操作</th>

            </tr>
            </thead>
            {% for client in object_list %}
                <tbody>
                <tr>
                    <td>{{ client.id }}</td>
                    <td>{{ client.name }}</td>
                    <td>
                        <span class="badge bg-cyan">
                            <a href="{% url 'client_edit' client.id %}">Edit</a>
                        </span>
                        <span class="badge bg-danger">
                            <a href="{% url 'client_delete' client.id %}">Delete</a>
                        </span>
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
</div>

