<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">新增</h3>
  </div>
  <form id="Construction" method="POST">{% csrf_token %}
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label >師傅</label>
            <select name="worker_id" class="form-control select2" style="width: 100%;">
              {% for worker in workers %}
              <option value={{worker.id}} {% if worker.id == worker_id %} selected="selected" {% endif %}>{{worker.name}}</option>
              {% endfor %}
            </select>
            <label >客戶</label>
            <select name="client_id" class="form-control select2" style="width: 100%;">
              {% for client in clients %}
              <option value={{client.id}} {% if client.id == client_id %} selected="selected" {% endif %}>{{client.name}}</option>
              {% endfor %}
            </select>
            <label class="col-sm-2 col-form-label">案場</label>
            <input type="text" name="work_site" class="form-control">
            <label >品項</label>
            <select name="constructionItem_id" class="form-control select2" style="width: 100%;">
              {% for constructionitem in constructionitems %}
              <option value={{constructionitem.id}} {% if constructionitem.id == constructionitem_id %} selected="selected" {% endif %}>{{constructionitem.item}}</option>
              {% endfor %}
            </select>
            <label >長度</label>
            <input type="text" name="construction_length" class="form-control">
            <label >單價</label>
            <input type="text" name="construction_unit" class="form-control">
            <label >拆分</label>
            <input type="text" name="construction_split" class="form-control">
            <label >總額</label>
            <input type="text" name="construction_amount" class="form-control">
            <label >日期</label>
            <input type="date" name="publish_at" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>



<!--
{{ constructions.work_site | pprint }}
-->