<a href="{% url 'constructionitem_create' %}" class="btn btn-secondary">新增</a><br><br>

<div class="card">
    <!-- <div class="card-header">
      <h3 class="card-title">DataTable</h3>
    </div> -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-head-fixed text-nowrap table-hover">
            <thead>
            <tr>
                <th>編號</th>
                <th>項目</th>
                <th>操作</th>
            </tr>
            </thead>
            {% for constructionitem in object_list %}
                <tbody>
                <tr>
                    <td>{{ constructionitem.id }}</td>
                    <td>{{ constructionitem.item }}</td>
                    <td>
                        <span class="badge bg-cyan">
                            <a href="{% url 'constructionitem_edit' constructionitem.id %}">Edit</a>
                        </span>
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
</div>