<div class="card">
  <!-- <div class="card-header">
    <h3 class="card-title">DataTable</h3>
  </div> -->
  <!-- /.card-header -->
  <div class="card-body">
    <table id="example1" class="table table-striped table-bordered table-head-fixed text-nowrap" style="width:100%">
      <thead>
        <tr>
          <th>師傅</th>
          <th>客戶名稱</th>
          <th>案場地址</th>
          <th>品項</th>
          
          <th>公分數</th>
          <th>單價</th>
          
          <!-- <th>總額</th>

          <th>加深深度</th>
          <th>單價</th>
          <th>總額</th>

          <th>套板</th>
          <th>單價</th>
          <th>總額</th>

          <th>水糟下崁</th>
          <th>開爐孔</th>
          <th>水糟上裝</th>
          <th>套水糟</th>

          <th>安裝工分數</th>
          <th>單價</th>
          <th>拆分</th>
          <th>總額</th>

          <th>安裝加深深度</th>
          <th>單價</th>
          <th>拆分</th>
          <th>總額</th>

          <th>載板材</th>
          <th>打板</th>
          <th>門檻</th>
          <th>水糟平接</th>
          <th>爐台平接</th>
          <th>手工槽</th>
          <th>弧形工資</th>
          <th>插座</th>
          <th>45度側落</th>
          <th>單層R角</th>
          <th>修改</th>
          <th>回裝工資</th>
          <th>載板材</th>
          <th>出線孔</th>
          <th>爬踢層數</th>
          <th>美容銜接</th>
          <th>空趟</th>
          <th>三腳架</th>
          <th>拆檯面</th>
          <th>總額</th> -->

        </tr>
      </thead>
      <tbody>
        
      <tr>
        {% for construction in constructions %}
        <td>{{construction.worker.name}}</td>
        <td>{{construction.client.name}}</td>
        <td>{{construction.work_site}}</td>
        <td>{{construction.Construction_item}}</td>
        <td>{{construction.Construction_cm}}</td>
        <td>{{construction.Construction_unit}}</td>
        <!-- <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td>
        <td>X</td> -->
        {% endfor %}
      </tr>
      
      </tbody>
      <!-- <tfoot>
      <tr>
        <th>Rendering engine</th>
        <th>Browser</th>
        <th>Platform(s)</th>
        <th>Engine version</th>
        <th>CSS grade</th>
      </tr>
      </tfoot>  -->
    </table>
  </div>
  <!-- /.card-body -->
</div>