<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">新增</h3>
    </div>
    <form id="Construction" method="POST">{% csrf_token %}
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>師傅</label>
                        {{ form.worker }}
                        <label>客戶</label>
                        {{ form.client }}
                        <label>案場</label>
                        {{ form.work_site }}
                        <label>品項</label>
                        {{ form.constructionItem }}
                        <label>長度</label>
                        {{ form.construction_length }}
                        <label>單價</label>
                        {{ form.construction_unit }}
                        <label>拆分</label>
                        {{ form.construction_split }}
                        <label>總額</label>
                        {{ form.construction_amount }}
                        <label>日期</label>
                        {{ form.publish_at }}

                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>


{#<div class="card card-primary">#}
{#    <div class="card-header">#}
{#        <h3 class="card-title">新增</h3>#}
{#    </div>#}
{#    <form id="Construction" method="POST">{% csrf_token %}#}
{#        <div class="card-body">#}
{#            <div class="row">#}
{#                <div class="col-md-6">#}
{#                    <div class="form-group">#}
{#                        {% block content %}#}
{#                            <table>#}
{#                                {{ form }}#}
{#                            </table>#}
{#                        {% endblock %}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="card-footer">#}
{#            <button type="submit" class="btn btn-primary">Submit</button>#}
{#        </div>#}
{#    </form>#}
{#</div>#}


{#                        <select name="worker_id" class="form-control select2" style="width: 100%;">#}
{#                            {% for worker in workers %}#}
{#                                <option value={{ worker.id }} {% if worker.id == worker_id %} selected="selected" {% endif %}>{{ worker.name }}</option>#}
{#                            {% endfor %}#}
{#                        </select>#}


<!--
{{ constructions.work_site | pprint }}
-->