<a href="{% url 'workercreate' %}" class="btn btn-secondary">新增</a><br><br>

<div class="card">
  <!-- <div class="card-header">
    <h3 class="card-title">DataTable</h3>
  </div> -->
  <div class="card-body">
    <table id="example1" class="table table-bordered table-head-fixed text-nowrap table-hover">
      <thead>
        <tr>
          <th>編號</th>
          <th>師傅</th>
        </tr>
      </thead>
      {% for worker in workers %}
      <tbody>
      <tr>
        <td>{{worker.id}}</td>
        <td>{{worker.name}}</td>
      </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
</div>